.filter-rules-text {
	font-family: "Roboto Mono", monospace;
	font-weight: 400;
	font-size: 0.9rem;
	line-height: 1.4em;
}
.filter-rules-text.small-text {
	font-size: 0.75rem;
}
.filter-rules-text.medium-text {
	font-size: 0.9rem;
}
.filter-rules-text.large-text {
	font-size: 1rem;
}
