.filter-rules-input,
.filter-rules-select {
  color: #fff;
  font: inherit;
  letter-spacing: inherit;
  padding: 10px 0;
  border: 0;
  box-sizing: content-box;
  background: #0b0b0b;
  height: 1.4em;
  margin: 0;
  display: block;
  min-width: 0;
  width: 100%;
  outline: none;
}

.filter-rules-input-wrapper {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.4em;
  color: #fff;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.filter-rules-input-wrapper::before {
  border-bottom: 1px solid #fff;
  left: 0;
  bottom: 0;
  content: " ";
  position: absolute;
  right: 0;
  pointer-events: none;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.filter-rules-input-wrapper::after {
  border-bottom: 2px solid rgb(53, 139, 147);
  left: 0;
  bottom: 0;
  content: "";
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  pointer-events: none;
}

.filter-rules-input-wrapper.filter-rules-input-focused::after {
  transform: scaleX(1) translateX(0px);
}

.filter-rules-input-wrapper:hover::before {
  border-width: 2px;
}
