.filter-rules-wrapper {
  border-width: 1px;
  border-style: solid;
  border-color: #5df8ff;
  border-top: none;
  padding: 8px 15px;
  margin-bottom: 10px;
}

.filter-rules-group-header {
  margin-top: 2px;
  display: flex;
  width: 100%;
  color: #bdbdbd;
}

.statistics-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.statistics-wrapper > *:not(:last-child) {
  flex: 50%;
  padding-right: 16px;
}

.statistics-wrapper > *:last-child {
  flex: 0 0 38px;
  align-self: center;
}
