.filter-rules-split-rules-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 5px 0 10px 0;
}

.filter-rules-split-rules-wrapper > * {
  flex: 0 0 50%;
  margin-top: 0;
}

.filter-rules-split-rules-wrapper > *:first-child,
.filter-rules-split-rules-wrapper.filter-rules-split-3-col > *:nth-child(2) {
  padding-right: 15px;
}

.filter-rules-split-rules-wrapper.filter-rules-split-3-col > * {
  flex: 0 0 33%;
}
