.filter-rules-split-rules-wrapper {
  display: flex;
  flex-direction: row;
  margin: 5px 0 10px 0;
}

.filter-rules-split-rules-wrapper > * {
  flex: 0 0 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.filter-rules-split-rules-wrapper > *:nth-child(1) {
  padding-right: 8px;
}

/* 2 column spacing */
.filter-rules-split-rules-wrapper > *:nth-child(2) {
  padding-left: 8px;
}

/* 3 column spacing */
.filter-rules-split-rules-wrapper.filter-rules-split-3-col > * {
  flex: 0 0 33%;
}
.filter-rules-split-rules-wrapper.filter-rules-split-3-col > *:nth-child(2) {
  flex: 0 0 34%;
  padding-right: 8px;
  padding-left: 8px;
}
.filter-rules-split-rules-wrapper.filter-rules-split-3-col > *:nth-child(3) {
  padding-left: 8px;
}

/* 4 column spacing */
.filter-rules-split-rules-wrapper.filter-rules-split-4-col > * {
  flex: 0 0 25%;
}
.filter-rules-split-rules-wrapper.filter-rules-split-4-col > *:nth-child(2),
.filter-rules-split-rules-wrapper.filter-rules-split-4-col > *:nth-child(3) {
  padding-right: 8px;
  padding-left: 8px;
}
.filter-rules-split-rules-wrapper.filter-rules-split-4-col > *:nth-child(4) {
  padding-left: 8px;
}
