.filter-rules-toolbar-header {
  color: #bdbdbd;
  flex: 1 1 100%;
  padding: 0 20px 0 10px;
  display: flex;
  height: 100%;
  align-items: center;
  min-width: 0;
}

.filter-rules-toolbar-header-color {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  margin-right: 10px;
  flex: 0 0 12px;
}

.filter-rules-toolbar-header > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
