.add-stat-wrapper .add-btn {
  flex: 1 1 100%;
  height: 38px;
  color: #bdbdbd;
  background: #0b0b0b;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.add-stat-wrapper .add-btn:hover {
  color: #fff;
  background: rgba(93, 248, 255, 0.1);
}

.add-stat-wrapper {
  margin: 10px 0 0 0;
  width: 100%;
  display: flex;
}
