.filter-rules-toolbar-btn {
  height: 40px;
  color: #BDBDBDFF;
  background: transparent;
  border: none;
  flex: 0 0 38px;
  cursor: pointer;
  transition: background 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.filter-rules-toolbar-btn:hover {
  color: #fff;
  background: rgba(93, 248, 255, 0.1);
}
