.char-list,
.char-list li {
  list-style: none;
  padding: 0;
}

.char-list {
  margin: 1em 0 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 8px;
}

.char-list li {
  min-width: 160px;
  max-width: 200px;
}

.char-list li .my-button {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.class-icon {
  height: 3em;
  width: auto;
  vertical-align: middle;
  margin-right: 1em;
}

.char-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

.sort-row {
  padding-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rbf-row {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

.sort-row label {
  margin-right: 0.5em;
}

.sort-row label:not(:first-of-type) {
  margin-left: 0.5em;
}

.offer-match > .item-title {
  color: red;
}

.offer-match > .item-title ~ .item-title {
  color: white;
}

.offer-display-miss {
  opacity: 33%;
}

.offer-display-hide {
  display: none;
}

.MuiBox-root {
  min-width: 0;
}
