.filter-rules-close-icon {
  border-radius: 100px;
}

.filter-rules-close-icon::after,
.filter-rules-close-icon::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}

.filter-rules-close-icon::after {
  transform: rotate(-45deg);
}
