.filter-rules-drag-handle-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #bdbdbdff;
  cursor: grab;
  padding: 0 8px;
  transition: background 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.filter-rules-drag-handle-wrapper:hover {
  color: #fff;
  background: rgba(93, 248, 255, 0.1);
}

.filter-rules-drag-handle-icon {
  flex: 1 1 50%;
}

.filter-rules-drag-handle-icon:first-child {
  margin-right: 2px;
}

.filter-rules-drag-handle-icon,
.filter-rules-drag-handle-icon::after,
.filter-rules-drag-handle-icon::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 4px;
  height: 4px;
  background: currentColor;
  border-radius: 100%;
}

.filter-rules-drag-handle-icon::after,
.filter-rules-drag-handle-icon::before {
  content: "";
  position: absolute;
}

.filter-rules-drag-handle-icon::after {
  left: 0;
  top: 6px;
}

.filter-rules-drag-handle-icon::before {
  top: -6px;
  right: 0;
}

.filter-rules-drag-handle-icon.filter-rules-small-icon {
  transform: scale(0.6);
}

.filter-rules-drag-handle-icon.filter-rules-medium-icon {
  transform: scale(1);
}

.filter-rules-drag-handle-icon.filter-rules-large-icon {
  transform: scale(1.2);
}
