.filter-rules-section {
  flex: 1 1 100%;
  min-width: 0;
}

.filter-rules-show-btn-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.filter-rules-section-footer {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.filter-rules-section-footer > .divide-left {
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-start;
}

.filter-rules-de-emphasis-label {
  color: #BDBDBDFF;
}

.filter-rules-form {
  margin-bottom: 10px;
}

.deemphasis-wrapper {
  margin-bottom: 15px;
}

/* buttons */

.filter-rules-btn {
  height: 36px;
  color: #FFF;
  background: transparent;
  border: none;
  cursor: pointer;
  transition:
    background 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  padding: 0 10px;
  margin: 0 10px;
}

.filter-rules-btn:disabled {
  color: #808080FF;
  pointer-events: none;
  cursor: default;
}

/* icons */

.filter-rules-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  margin: 0 auto;
}
.filter-rules-icon.filter-rules-small-icon {
  transform: scale(0.6);
}
.filter-rules-icon.filter-rules-medium-icon {
  transform: scale(1);
}
.filter-rules-icon.filter-rules-large-icon {
  transform: scale(1.2);
}
