---
name: "Build PR"

on:
  push:
    branches:
      - "*"
      - "!main"
  pull_request:

jobs:
  build_pr:
    name: "Build PR"
    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v3.2.0"

      - name: "Build"
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - run: npm i
      - run: npm run build
      - run: npm test

      - uses: actions/upload-artifact@v3
        with:
          name: extension
          path: extension/
      - name: Archive code coverage results
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report
          path: coverage/
