---
name: "tagged-release"

on:
  push:
    branches:
      - "main"
    tags:
      - "v*"

jobs:
  tagged-release:
    name: "Tagged Release"
    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v3.2.0"

      - name: "Create zip"
        uses: thedoctor0/zip-release@0.6.2
        with:
          type: "zip"
          filename: "extension.zip"
          directory: extension

      - name: "Create new release"
        uses: marvinpinto/action-automatic-releases@v1.2.1
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Latest Build"
          files: "extension/extension.zip"
